.navbar-default {
  background-color: white;
  border: 0;
  margin: 0;
}

.Box {
  background-color: #563d7c;
  color: white;
  font-size: 50px;
  text-align: center;
}

.bootstrap-logo {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 100px;
  border: 1px solid;
  padding: 5px 45px;
  border-radius: 20px;
  display: inline-block;
}

.text-row {
  font-size: 30px;
}
.download-bs{
  background-color: #563d7c;
  font-size: 30px;
}
.version-row{
  font-size: 15px;
  color: gray;
}
.carbon{
  font-size: 15px;
  box-decoration-break: 10px;
}
